* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 20px;
    margin: 25px 0;
  }
  
  .overall {
    margin: 50px 5%;
    border-radius: 20px;
    padding: 20px;
    background-color: aliceblue;
  }
  
  /* Responsive styles using media queries */
  @media (min-width: 768px) {
    .overall {
      margin: 50px 10%;
    }
  }
  
  @media (min-width: 1024px) {
    .overall {
      margin: 50px 15%;
    }
  }
  
  /* Add more media queries as needed for larger screens */
  
  /* Additional Styles */
  h1, h2, h4, p, ul, ol, table {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  ul, ol {
    margin-left: 20px;
  }
  
  ul li, ol li {
    list-style-type: circle;
  }
  
  caption {
    background-color: aliceblue;
    padding-bottom: 5px;
  }
  
  table {
    width: 100%;
    margin-top: 15px;
    background-color: aliceblue;
    border-collapse: collapse;
  }
  
  tr, th, td {
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid bisque;
  }